@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');



.page{
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.top-line{
    background-color: #43c3ea;
    height:5px;
}

.navbar-expand-md .navbar-nav .nav-link{
    color: #000;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }

  section{
      padding: 60px 0;
  }

  .grey-colour{
      background-color: #f1f1f1;
  }

  .abt-title{
      margin-top: 30px;
  }

  .abt-title h2{
      font-size: 35px;
      font-weight: 800;
  }

  .abt-title::after{
      content: '';
      height: 3px;
      width: 50px;
      background-color: #43c3ea;
      position: absolute;
  }

  .abt-desc{
     margin: 45px 0;
  }

  .abt-desc p{
      font-size: 17px;
  }

  .abt-btn-contact, .abt-btn-contact:hover{
    background-color: #000;
    padding: 10px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
  }

  .abt-img{
      margin-top: 35px;
  }

  .abt-img img{
      width: 100%;
  }

  .time{
      font-size: 22px;
      color: #43c3ea;
      padding: 10px 0;
  }

  .service-title, .printer{
      margin-bottom: 30px;
  }

  .service-title h3{
    font-size: 30px;
    font-weight: 800;
  }

  .service-title::after{
    content: '';
    height: 3px;
    width: 50px;
    background-color: #43c3ea;
    position: absolute;
  }

  .service-box{
      text-align: center;
      text-align: center;
    padding-bottom: 10px;
    margin-top: 15px;
  }

  .service-box:hover{
    text-align: center;
    text-align: center;
  padding-bottom: 10px;
  box-shadow: 0 0 7px 7px #eee;
}


  .service-box img{
      width: 100%;
      margin-bottom: 10px;
  }

  .service-box h4{
      font-weight: 800;
  }

  .printer h3{
    font-size: 30px;
    font-weight: 800;
  }

  .printer::after{
    content: '';
    height: 3px;
    width: 50px;
    background-color: #43c3ea;
    position: absolute;
  }

  .printer-box{
      background-color: #fff;
      padding: 5px 5px;
  }

  .tab-content{
      border: 1px solid #eee;
  }

  .nav-tabs{
      border: 1px solid #eee;
  }

  .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
      border-color: transparent;
      background-color: #ddd;
  }

  .nav-tabs .nav-link{
      border-radius: 0px;
      color: #000;
  }

  .nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
      border-color: transparent;
  }

  .contact-title{
    margin-top: 30px;
}

.contact-title h3{
    font-size: 35px;
    font-weight: 800;
}

.contact-title::after{
    content: '';
    height: 3px;
    width: 50px;
    background-color: #43c3ea;
    position: absolute;
}

.contact-desc {
    margin: 45px 0;
}

.contact-desc p{
    font-size: 25px;
}

.contact-form{
    border: 1px solid #eee;
    padding: 10px;
  box-shadow: 0 0 7px 7px #eee;
}

footer{
    background-color: #1a0c0c;
    padding: 60px 0;
    text-align: center;
}

.foot ul{
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 15px;
}

.foot ul li{
  list-style: none;
  margin-right: 5px;
  display: inline-block;
  color: #fff;
}

.foot ul li a{
    color: #fff;
}

.foot p{
    color: #fff;
    margin-top: 10px;
}

.foot p a{
    color: #fff;
}